body {
  background-color:#fff;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  color: #212121;
}
.container {
  width: 80%;
  max-width: 968px;
  margin: 0 auto;
}


.bold { 
  font-weight: bolder;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 10px 0;
}

button {
    cursor: pointer;
    border: none;
    color: white;
    background-color: hsl(171, 100%, 41%);
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.sell { 
  background-color: white;
  color: #D1C4E9;
}

.ftc-intro {
  background-color:#0097A7;
  color:white;
  width:100%;
  padding:20px;
}

.form-group {
  color:white;
  width:50%;
  padding:30px;
  border-radius: 4px;
  background-color: #3a3633;
}

.form-break {
  background-color:#fff;
  color:white;
  width:100%;
  padding:5px;
}

.horizontal-rule {
  background-color:#BDBDBD;
}

.navbar.is-primary .navbar-brand>.navbar-item {
  color: #333333;
  font-weight: 700;
  font-size: 1.5rem;
}